certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
comtypes==1.1.10
gTTS==2.2.3
idna==3.3
PyAudio @ file:///C:/Users/guita/Desktop/FANAVI/entorno-virtual/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pypiwin32==223
pyttsx3==2.90
pywin32==302
requests==2.26.0
six==1.16.0
SpeechRecognition==3.8.1
urllib3==1.26.7
Pillow==8.4.0
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyScreeze==0.1.28
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
pytweening==1.0.4
